<?xml version="1.0" encoding="utf-8"?>
<odoo>

    <!-- Main Menu: Shopping Mall -->
    <menuitem id="menu_for_mall" 
    name="Shopping Mall" 
    sequence="2" 
    icon="fa-building"/>

    <!-- Submenu: Store Management -->
    <menuitem id="mall_store_menu" 
    name="Store Management" 
    action="action_mall_store"
    parent="menu_for_mall" 
    sequence="1"/>

    
</odoo>
